* {
    font-family: Arial;
    text-decoration: none;
}


body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.content {
    background: #f2f2f2;
    width: 400px;
    height: 600px;
    margin: 6rem auto;
    text-align: center;
    border-radius: 5px;
}

.title {
    color: rgb(75, 110, 175);
}

#bola8 {
    width: 350px;
    height: 350px;
    background: black;
    color: white;
    margin: 10px auto;
    border-radius: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

#resposta {
    font-size: 25px;
}


#botao {
    height: 32px;
    width: 140px;
    border: none;
    background-color: #126bad;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#botaoLimpar{
    height: 32px;
    width: 140px;
    border: none;
    background-color: #126bad;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0.5rem;

}

#botaoLimpar:hover, #botaoJogar:hover {
    background: #069;
}

#resetando {
    height: 32px;
    width: 140px;
    border: none;
    background-color: #126bad;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


#botao:hover {
    background-color: #157bad;
}

textarea {
    height: 50px;
    width: 80%;
    font-size: 17px;
}